<p>single-view-book works!</p>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th>ISBN</th>                
                        <th>AUTHOR NAME</th>
                        <th>TITLE</th>
                        <th>CATEGORY</th>
                        <th>PUBLISHER</th>
                        <th>PRICE</th>
                        <th>EDITION</th>
                    </tr>
                    <tr>
                        <td>{{book.isbn}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.price}}</td>
                        <td>{{book.edition}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>