/* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css'; */


.header {
text-align: center;
color: white;
background-color: midnightblue;
line-height: 51px;
font-size: 25px;
}

  .main-content {
  font-size: 18px;
  text-align: center;
  padding-top: 50px;
  padding-left: 30px;
  }
  .sidebar-content {
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
  }
  .e-sidebar{
  background-color: #f8f8f8;
  }
  .e-sidebar.e-left{
  top: 60px;
  }