.home{
    background:url('https://images.pexels.com/photos/3952078/pexels-photo-3952078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    padding:100px 0;
}
.box1{
    background:rgb(0, 214, 212,0.85);
    padding:50px 50px;
    border-radius: 20px;
}
.box1 .button{
    text-align: center;
}

button .button a:link, button .button a:visited{
    background: #000 !important;
    color:#fff ;
    padding:10px 20px;
    text-decoration: none;
    border-radius: 8px;
    
}
.button a:hover{
    color:	#00D6D4;
}