<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="box">
                    <p><strong>Name: </strong>{{publisher.name}}</p>
                    <p><strong>Mobile: </strong>{{publisher.mobile}}</p>
                    <p><strong>E-mail: </strong>{{publisher.email}}</p>
                    <p><strong>Address: </strong>{{publisher.address}}</p>
                    <button class="button">Go Somewhere</button>
                </div>
            </div>
        </div>
    </div>
</section>