.box{
    background:rgb(0, 255, 255,0.3);
    padding:40px;
    margin: 30px 0;
    border-radius: 20px;
    font-weight: 500;
}
.box h3{
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button{
    color:white;
    background: black;
    border-radius: 10px;
    padding:8px 14px;
    border: none;
}
.button:hover{
    color:cyan;
    background:black;
}